@import url(./typography.css);
@import url(variables.css);
@import url(./utilities.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid yellow; */
}

body {
    background-color: var(--background-color);
    margin: 0;
}