:root {
    --primary-color: #333333; /* Space Gray */
    --secondary-color: #5DADE2; /* Soft Blue */
    --accent-color: #2980B9; /* Electric Blue */
    --background-color: #ECF0F1; /* Light Gray */
    --text-color: #2C3E50; /* Dark Slate Gray */
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 20px;
    color: var(--text-color);
}


h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    margin: 0 0 20px;
    color: var(--primary-color);
}

h2 {
    font-size: 36px;
    line-height: 1.3;
    margin: 0 0 15px;
    color: var(--primary-color);
}

.sm-text {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 15px;
    color: var(--text-color);
}