.full-width {
    width: 100%;
    /* padding: 20px 0; */
    /* background-color: var(--background-color); */
}

.container {
    max-width: var(--max-width);
    padding: 20px 20px;
    margin: 0 auto;
}

.light-text {
    font-size: 14px;
    color: #2c3e50a4;
}